body{
    background-color: rgb(222, 255, 222);
    font-size: 15px;
    font-family: 'Roboto Flex', sans-serif;
}

.div-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 80px;
    padding: 100px;
}

@media (max-width: 530px) {
    body{
        background-color: white;
        align-items: center; 
        justify-content: center;
        padding: 10px;
        font-size: 12px;
    }
    
    label, input{
        width: 100px;
        align-items: center;
    }
    
    .div-body{
        display: block;
        font-size: 10px;
        height: 1000px;
        text-align: center;
    }
    

    .form{
        box-shadow: none;
        padding-left: 0px;
        display: block;
        
    }
    
    input{
        width: 60px;
    }

    select{
        width: 100px;
        height: 12px;
    }

    .logo{
        width: 20px;
    }

    .description{
        padding-bottom: 20px;
    }

    .form-flex{
        display: block;
        width: 50px;
        
    }

    .register-button{
        text-align: center;
        background-color: rgb(82, 179, 82);
        width: 44%;
    }

    .cover{
        width: 43%;
    }
    
}

.logo{
    width: 50px;
}

.description{
    justify-content: center;
}

.form{
    background-color: white;
    padding-left: 60px;
    align-items: center;
    justify-content: center;
    /* box-shadow: -10px -10px 50px; */
    
}

input{
    width: 200px;
}
select{
    width: 206px;
    height: 24px;
}

.fName, .lName, .sex, .dob, .tall, .size{
    padding-right: 50px;
}

.dob{
    margin-left: 8px;
}

.form-flex{
    display: flex;
}

.block{
    display: block;
}

.cover{
    width: 87%;
}

.register-button{
    text-align: center;
    background-color: rgb(82, 179, 82);
    width: 89%;
}

button{
    background-color: rgb(82, 179, 82);
    margin: 0;
    border: 0;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.terms{
    font-size: 10px;
    text-align: center;

}